@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Oswald:wght@500&family=Spectral:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

.modal {
  width: 320px !important;
  height: 320px !important;
  z-index: 200;
  position: absolute;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
  padding-top: 20px;
}

.navbar-nav {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}

.nav-link {
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

.nav-link:hover {
  color: white;
}

body {
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
}

header {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;

  main {
    flex: 1 1 auto;
  }

}

@media screen and (max-width: 460px) {
  .whatsapp {
    position: absolute;
    top: 435px;
    right: 50px;
    z-index: 20;

    a {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .whatsapp__logo {
        position: relative;
        width: 46px;
        height: 53px;
      }

      .whatsapp__circle {
        position: absolute;
        width: 104px;
        animation: animate__whatsapp 10s linear infinite;
        height: 91px;
      }
    }
  }
  @keyframes animate__whatsapp {
    0% {
      transform: rotate(-360deg);
    }
  }
  .instagram__logo {
    width: 18px;
    height: 18px;
  }
  .banner {
    position: absolute;
    background: url("images/banner.png") no-repeat center;
    background-size: cover;
    filter: brightness(0.5);
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0
  }
  .navbar {
    padding: 39px 27px;
    transition: 0.5s;
    position: fixed;
    box-shadow: none;
    width: 100%;
    z-index: 100;

    .flex__header {
      flex-direction: row;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;

      a {
        font-weight: 600;
        font-size: 10px;
        line-height: 15px;
        align-items: center;
        letter-spacing: 0.08em;

        color: #FFFFFF;
      }

      .instagram {
        width: 20px;
        height: 18.43px;
      }

      .logo__block {
        width: 100px;
        display: flex;
        flex-direction: column;

        img {
          width: 40px;
          height: 23px;
        }

        p {
          margin-top: 5px;
        }

        div {
          font-weight: 400;
          font-size: 8px;
          line-height: 10px;
          color: white;
        }
      }
    }

    .animated-icon1 {
      span {
        background: white;
      }
    }
  }
  .nav-link {
    color: white;
  }
  .banner__content {
    p {
      max-width: 360px;
      margin: 0;
      font-weight: 600;
      font-size: 15px;
      line-height: 33px;
      text-align: center;
      letter-spacing: 0.08em;
      color: #FFFFFF;
    }

    display: flex;
    justify-content: center;
    padding: 185px 25px 0;
    position: relative;
    z-index: 2;
  }
  .talon__parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    position: relative;

    button {
      margin-top: 15px;

      a {
        display: inline-block;
        width: 265px;
        height: 50px;
        background: #FF0909;
        box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.75);
        font-weight: 700;
        font-size: 15px;
        line-height: 150%;
        padding-top: 12px;
        text-align: center;
        letter-spacing: 0.08em;
        color: #FFFBFB;
        border-radius: 80px;
      }
    }
  }
  .banner__footer {
    padding: 60px 25px 0 25px;
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;

    p {
      margin-top: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      max-width: 85px;
      text-align: center;
      color: #FFFFFF;
    }

    .equal, .plus {
      margin-top: 20px;
    }

    .equal {
      margin-right: 5px;
    }

    .dekor {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 56px;
        height: 49.21px;
      }
    }

    .travertin {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 43px;
        height: 38.9px;
      }
    }

    .result {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 80px;
        height: 65.84px;
      }

      p {
        margin-top: 0;
      }
    }
  }
  .talon {
    display: flex;
    align-items: flex-end;
    margin: 181px 0 0 0;

    img {
      height: 52px;
      margin-right: 15px;
      width: 37px;
    }

    span {
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 0.08em;
      color: #FFFFFF;
    }
  }
  .content {
    position: relative;
    padding: 40px 25px 67px 25px;

    .background {
      background: url("images/section_content.svg") no-repeat center;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      filter: brightness(0.4);
      left: 0;
      z-index: 1;
    }

    .no-padding {
      padding-top: 0 !important;
    }

    .content__block {
      z-index: 2;
      padding-top: 106px;
      position: relative;

      .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
      }

      .text {
        margin-top: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;

      }
    }

    .btn {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;
      margin-top: 80px;
    }

    .submit {
      a {
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        width: 265px;
        height: 50px;
        background: #FF0909;
        box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.75);
        border-radius: 80px;

        span {
          letter-spacing: 0.08em;
          color: #FFFFFF;
          font-weight: 900;
          font-size: 15px;
          line-height: 150%;
        }
      }
    }
  }
  .project {
    position: relative;

    .projects__block {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      position: relative;
      z-index: 2;

      a {
        margin: 45px 0;
        width: 310px;
        height: 42px;
        background: #FF0909;
        box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.75);
        border-radius: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          letter-spacing: 0.08em;
          color: #FFFFFF;
          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
        }
      }

      h1 {
        font-weight: 900;
        font-size: 19px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.08em;
        color: #FFFFFF;
        padding: 46px 0;
      }

      .image__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 15px;

        .grid__item, .grid__item__reverse {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }

        .grid__item__reverse {
          justify-content: flex-start;
        }

        img {
          width: 146.61px;
          height: 95.27px;
          filter: drop-shadow(0px 0px 35px rgba(255, 255, 255, 0.75));
          border-radius: 10px;
        }
      }
    }

    .project__bg {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("images/project__bg.png") no-repeat center;
      background-size: cover;
    }
  }
  .main__item {
    position: relative;
    min-height: 664px;
    overflow: hidden;

    .item__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("images/element__bg.svg") no-repeat center;
      background-size: cover;
      z-index: 1;
    }

    b {
      font-weight: bold;
    }

    .item__bg__part {
      width: 310px;
      height: 324px;
      position: absolute;
      top: -79px;
      right: -26px;
      background: url("images/element__bg__part.svg");
      z-index: 2;
    }

    .item__content {
      padding: 18px 25px;
      position: relative;
      z-index: 5;

      .brand__one {

        display: flex;
        justify-content: center;

        .list__item {
          margin-top: 34px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        p {
          margin-top: 10px;
          font-weight: 700;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
          color: #000000;
          width: 196px;
        }
      }

      .brand__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;


        .list__item {
          margin-top: 34px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .width1 {
            width: 52px;
            height: 51.64px;
            margin-bottom: 5px;
          }

          .width2 {
            width: 72px;
            height: 48px;
            margin-bottom: 10px;
          }

          .width3 {
            width: 66px;
            height: 56.79px;
          }

          p {
            margin-top: 10px;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #000000;
            width: 102px;
          }
        }
      }

      .underLastBlockItem {
        font-size: 14px;
      }

      .flex__block {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .last__block__item__text {
          max-width: 163px;
          font-size: 14px;
        }

        .last__block__item__img {
          top: 118px;
          right: -36px;
          position: absolute;
        }

        .block__item {
          margin-top: 70px;

          &:last-child {
            padding-top: 27px;
          }
        }

        .list {
          padding-left: 0;
          margin-top: 45px;
          list-style-type: none;

          li {
            margin: 15px 0;
            display: flex;
            align-items: center;
          }

          img {
            width: 20px;
            height: 20px;
          }

          span {
            font-weight: 700;
            font-size: 12px;
            margin-left: 10px;
            line-height: 16px;
            display: inline-block;
            color: #000000;
          }
        }

        .item__element {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 25px 0;
        }

        .luxury {
          width: 112px;
          height: 109px;
        }

        .subtitle {
          margin: 10px 0;
          font-weight: 700;
          font-size: 12px;
          line-height: 18px;
          max-width: 107px;
          text-align: center;

          color: #000000;
        }
      }

      .button__href {
        margin: 48px 0;
        display: flex;
        justify-content: center;
      }

      .find__out__cost {
        width: 265px;
        height: 50px;
        background: #FF0909;
        box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.75);
        border-radius: 80px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        span {
          font-weight: 900;
          font-size: 15px;
          line-height: 150%;
          letter-spacing: 0.08em;
          color: #FFFFFF;
        }
      }

      h1 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #FFFFFF;

      }
    }
  }
  footer {
    padding: 36px 25px;
    position: relative;
    height: 458px;

    .footer__logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2;
      margin-top: 24px;

      img {
        width: 61px;
        height: 43px;
      }

      p {
        font-size: 10px !important;

        img {
          width: 10px !important;
          height: 10px !important;
        }
      }

    }

    .contact {
      position: relative;
      z-index: 2;

      h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.08em;
        color: #FFFFFF;
      }

      p {
        width: 232px;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #FFFFFF
      }
    }

    .phone__block {
      position: relative;
      display: flex;

      z-index: 2;
      flex-direction: column;

      img {
        width: 12px;
        margin-right: 5px;
        height: 12px;
      }

      a {
        padding: 11px 0;
        display: inline-block;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.08em;
        color: #FFFFFF;
      }
    }
  }
  .footer__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: url("images/footer__wallpaper.svg");
    filter: brightness(0.5);
  }
  .travertin img {
    margin-bottom: 20px;
  }
  .dekor img {
    margin-bottom: 13px;
  }
  .animated-icon1 {
    width: 25px;
    height: 16px;

    span {
      height: 1px !important;
    }
  }

}